<mat-card class="card">
    <section class="section dashboard">

        <div class="row">
            <div class="col-9">
                <div id="main-content" class="bg-white border">
                    <div class="d-flex flex-column">
                        <div><strong>Hello</strong> Beatrice Jika Welcome To <strong>PMS</strong></div>
                    </div>
                    <div class="d-flex my-4 flex-wrap">
                        <div class="box me-4 my-1 bg-primary">
                            <img src="https://cdn-icons-png.flaticon.com/512/1087/1087840.png" alt="">
                            <div class="d-flex align-items-center mt-2">
                                <div class="tag">Total Projects</div>
                                <div class="ms-auto number">&nbsp;4</div>
                            </div>
                        </div>
                        <div class="box me-4 my-1 bg-success">
                            <img src="https://cdn-icons-png.flaticon.com/512/4091/4091194.png" alt="">
                            <div class="d-flex align-items-center mt-2">
                                <div class="tag">Completed</div>
                                <div class="ms-auto number">&nbsp;1</div>
                            </div>
                        </div>
                        <div class="box me-4 my-1 bg-warning">
                            <img src="https://cdn-icons-png.flaticon.com/512/6997/6997835.png" alt="">
                            <div class="d-flex align-items-center mt-2">
                                <div class="tag">Pending</div>
                                <div class="ms-auto number">&nbsp;2</div>
                            </div>
                        </div>
                        <div class="box me-4 my-1 bg-danger">
                            <img src="https://as2.ftcdn.net/v2/jpg/00/69/83/19/1000_F_69831970_urylYbqlgF1KgaWZC5LfDOEsmLBqzkbk.jpg"
                                alt="">
                            <div class="d-flex align-items-center mt-2">
                                <div class="tag">Cancelled</div>
                                <div class="ms-auto number">&nbsp;1</div>
                            </div>
                        </div>
                    </div >
                    <div class="bg-default">
                        <div class="card-header">
                            <b>My Recent Projects Progress</b>
           
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0 table-hover">
                                    <colgroup>
                                        <col width="5%">
                                        <col width="30%">
                                        <col width="35%">
                                        <col width="15%">
                                        <col width="15%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Project</th>
                                            <th>Progress</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                     <tr>
                                    <td>1 </td>
                                  <td><a> Arnolfo Rebollosa </a><br>
                                 <small>Due: 2021-03-17 </small></td>
                                <td class="project_progress">
                                <div class="progress progress-sm">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                </div></div><small> 5% Complete</small>
                                 </td><td class="project-state">
                                <span class="badge badge-danger">Cancelled</span></td>
                                <td><a class="btn btn-primary btn-sm" routerLink="/excute-view">
                                    <span class="material-icons">folder</span>
                                                    View
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2 </td>
                                            <td>
                                                <a>
                                                    Sample Project </a>
                                                <br>
                                                <small>
                                                    Due: 2021-01-20 </small>
                                            </td>
                                            <td class="project_progress">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-green" role="progressbar"
                                                        aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"
                                                        style="width: 100.00%">
                                                    </div>
                                                </div>
                                                <small>
                                                    100.00% Complete
                                                </small>
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-success">Completed</span>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary btn-sm" routerLink="/excute-view">
                                                    <span class="material-icons">folder</span>View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                3 </td>
                                            <td>
                                                <a>
                                                    Sample Project 102 </a>
                                                <br>
                                                <small>
                                                    Due: 2020-12-31 </small>
                                            </td>
                                            <td class="project_progress">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-green" role="progressbar"
                                                        aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"
                                                        style="width: 20%">
                                                    </div>
                                                </div>
                                                <small>
                                                    10% Complete
                                                </small>
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-info">Started</span>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary btn-sm"
                                                routerLink="/excute-view">
                                                <span class="material-icons">folder</span> View
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                4 </td>
                                            <td>
                                                <a>
                                                    Software Development </a>
                                                <br>
                                                <small>
                                                    Due: 2022-11-05 </small>
                                            </td>
                                            <td class="project_progress">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-green" role="progressbar"
                                                        aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"
                                                        style="width: 0%">
                                                    </div>
                                                </div>
                                                <small>
                                                    0% Complete
                                                </small>
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-warning">On-Hold</span>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary btn-sm" routerLink="/excute-view">
                                                    <span class="material-icons">folder</span> View
                                                </a>
                                            </td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>

            <div class="col-3">

                <div id="main-content" class="bg-white border">
                    <h5><strong>Recent Activities</strong></h5>
                    <cdk-accordion class="example-accordion">
                        <cdk-accordion-item *ngFor="let item of items; let index = index;"
                            #accordionItem="cdkAccordionItem" class="example-accordion-item" role="button" tabindex="0"
                            [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
                            [attr.aria-controls]="'accordion-body-' + index">
                            <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
                                <span style="color: rgb(10, 10, 10);">♦</span> {{ item }}
                                <span class="example-accordion-item-description">
                                    {{ accordionItem.expanded ? 'close' : 'open' }}
                                </span>
                            </div>
                            <div class="example-accordion-item-body" role="region"
                                [style.display]="accordionItem.expanded ? '' : 'none'"
                                [attr.id]="'accordion-body-' + index"
                                [attr.aria-labelledby]="'accordion-header-' + index">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
                                excepturi incidunt ipsum deleniti labore, tempore non nam doloribus blanditiis
                                veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?
                            </div>
                        </cdk-accordion-item>
                    </cdk-accordion>
                </div>
            </div>
        </div>
    </section>
</mat-card>
<mat-card>
    <app-footer></app-footer>
</mat-card>