<mat-card class="card">
    <mat-card>
      <div class="container-xl">
          <h2>Projects Site Meeting Minutes</h2>
          <div class="pagetitle">
  
              <nav>
                 <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                    <li class="breadcrumb-item active">Project Site Meeting Memo</li>
                 </ol>
              </nav>
           </div> 
         
           <div class="table-responsive">
            <h2 style="text-align: center;"><b>In Attandance</b></h2>
            <table class="table table-bordered table-condensed" cellpadding="0" cellspacing="0">
              <tbody>
                <tr aria-readonly="true" style="background-color: grey;">
                    <td><label><b>Attendee's Names</b></label></td>
                    <td><label><b>Dept/Company</b></label></td>
                    <td><label><b>Contact Info</b></label></td>
                  </tr>
                <tr>
                  <td><input type="text" class="form-control" /></td>
                  <td><input type="text" class="form-control" /></td>
                  <td><input type="text" class="form-control" /></td>
                </tr>
                <tr>
                  <td><input type="text" class="form-control" /></td>
                  <td><input type="text" class="form-control" /></td>
                  <td><input type="text" class="form-control" /></td>
                </tr>                             
              </tbody>
            </table>
            </div>

            <div class="table-responsive">
                <h2 style="text-align: center;"><b>Agenda</b></h2>
                <table class="table table-bordered table-condensed" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr aria-readonly="true" style="background-color: grey;">
                        <td><label><b>Agenda Item</b></label></td>
                        <td><label><b>Owner</b></label></td>
                      </tr>
                    <tr>
                      <td><input type="text" class="form-control" /></td>
                      <td><input type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" /></td>
                      <td><input type="text" class="form-control" /></td>
                    </tr>                             
                  </tbody>
                </table>
                </div>
                <div class="table-responsive">
                    <h2 style="text-align: center;"><b>Takeaways</b></h2>
                    <table class="table table-bordered table-condensed" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr aria-readonly="true" style="background-color: grey;">
                            <td><label><b>Action Item</b></label></td>
                            <td><label><b>Owner</b></label></td>
                          </tr>
                        <tr>
                          <td><input type="text" class="form-control" /></td>
                          <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                          <td><input type="text" class="form-control" /></td>
                          <td><input type="text" class="form-control" /></td>
                        </tr>                             
                      </tbody>
                    </table>
                    </div>

                    <div class="table-responsive">
                        <h2 style="text-align: center;"><b>Next Meeting</b></h2>
                        <table class="table table-bordered table-condensed" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr aria-readonly="true" style="background-color: grey;">
                                <td><label><b>Action Item</b></label></td>
                                <td><label><b>Owner</b></label></td>
                              </tr>
                            <tr>
                              <td><input type="text" class="form-control" /></td>
                              <td><input type="text" class="form-control" /></td>
                            </tr>
                            <tr>
                              <td><input type="text" class="form-control" /></td>
                              <td><input type="text" class="form-control" /></td>
                            </tr>                             
                          </tbody>
                        </table>
                        </div>
                        <button type="button" class="btn btn-success">Save</button>
    </div> 
    </mat-card>
        <br>   
  </mat-card>
  <mat-card>
      <app-footer></app-footer>
    </mat-card>