 <mat-dialog-content class="mat-typography">  
<form style="width: 900px;">
    <h2>Add New Task</h2>
    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
          <li class="breadcrumb-item active">New Task</li>            
        </ol>
      </nav>
    </div> 
    <div class="row">
      <div class="col-12">
          <label>Task Name *</label>
        <input type="text" class="form-control" placeholder="Task Name">
      </div>
    </div><br>
     <div class="row">
      <div class="col-12">
          <div class="form-group">
              <label>Task Assigned to *</label>
              <mat-select placeholder="Select User to be assigned" class="form-control" multiple="true">
                  <mat-option *ngFor="let Supervisor of Supervisor" [value]="Supervisor">{{Supervisor}}</mat-option>
                </mat-select>
          </div>
      </div>
    </div><br>
    <div class="row">
      <div class="col-6">
        <label>Start Date</label>
        <input type="date" class="form-control"  value="21/05/2017">
      </div>
      <div class="col-6">
        <label>End Date</label>
        <input type="date" class="form-control"  value="21/05/2024">
      </div>
    </div><br>
    <div class="row" >        
      <div class="col-12">
        <label>Task Attachment</label>
        <input type="file" class="form-control" placeholder="Start Date" required>
      </div>
    </div><br> 
    <div class="row" >        
        <div class="col-12">
          <div class="form-group">
              <label>Task Details *</label>
              <textarea type="text" class="form-control required "
                  rows="5"
                  placeholder="Tasks details"></textarea>
          </div> 
        </div>
      </div><br> 
  </form>
  </mat-dialog-content>
    <mat-dialog-actions align="end">
    <button type="button" class="btn btn-danger" mat-dialog-close>Cancel</button>
    <button type="button" class="btn btn-success">Task</button>
    </mat-dialog-actions> 