<mat-dialog-content class="mat-typography">  
    <form>
      <h2>Project Details Approve</h2>
      <div class="pagetitle">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active">Project Details Approve</li>            
          </ol>
        </nav>
      </div>
<p><b>Project Name:</b>Ujenzi wa nyumba za majaji</p>
<p><b>Project Contract Number:</b>upf/fgs/01</p>
<p><b>Project Name:</b>Ujenzi wa nyumba za majaji</p>
<p><b>Project Contract Number:</b>upf/fgs/01</p>
<p><b>Project Name:</b>Ujenzi wa nyumba za majaji</p>
<p><b>Project Contract Number:</b>upf/fgs/01</p>
<p><b>Project Name:</b>Ujenzi wa nyumba za majaji</p>
<p><b>Project Contract Number:</b>upf/fgs/01</p>
<p><b>Project Name:</b>Ujenzi wa nyumba za majaji</p>
<p><b>Project Contract Number:</b>upf/fgs/01</p>
  <p>Angular is a platform that makes it easy to build applications with the web. Angular
    combines declarative templates, dependency injection, end to end tooling, and integrated
    best practices to solve development challenges. Angular empowers developers to build
    applications that live on the web, mobile, or the desktop</p>
    
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-success">Approve</button>
</mat-dialog-actions>