<mat-dialog-content class="mat-typography" style="width: 950px;">
    <form>
      <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
          <tr class="top_rw">
            <td colspan="2">
              <h2 style="margin-bottom: 0px;"> Ujenzi Wa Mahakama za wilaya(Jina la project) </h2>
              <span> Contract Number: 27B00032991LQ354 </span>
            </td>
            <td style="width:30%; margin-right: 10px;">
              <span>Date Created:21-11-2018 </span>
            </td>
          </tr>
          <tr class="top">
            <td colspan="3">
              <table>
                <tr>
                  <td>
                    <b> Project Summary </b> <br>
                    Delhivery Pvt. Ltd. Plot No. A5 Indian Corporation <br>
                    Warehouse Park Village Dive-anjur, Bhiwandi, Off <br>
                    Nh-3, Near Mankoli Naka, District Thane, Pin Code :
                    421302 <br>
                    Mumbai, Maharashtra - 421302 <br>
                    PAN: AALFN0535C <br>
                    GSTIN: 27AALFN0535C1ZK <br>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="information">
            <td colspan="3">
              <table>
                <h2>Consultant Details</h2>
                <tr>
                  <td colspan="2">
                    <b> Physical Address </b> <br>
                    Address: 24 Kivukoni Road<br>
                    P O Box: S.L.P. 9004<br>
                    Phone: +255 22 2123897<br>
                    Fax: +255 22 2116654<br>
                  </td>
                  <td> <b> Web Address </b><br>
                    info@w3learnpoint.com<br>
                    www.w3learnpoint.com<br>
                    john@example.com
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <td colspan="3">
            <h2>Contract Cost</h2>
            <table cellspacing="0px" cellpadding="2px">
              <tr class="heading">
                <td style="width:25%;">
                  ITEM
                </td>
                <td style="width:10%; text-align:center;">
                  QTY.
                </td>
                <td style="width:10%; text-align:right;">
                  PRICE (INR)
                </td>
                <td style="width:15%; text-align:right;">
                  TAX RATE & TYPE
                </td>
                <td style="width:15%; text-align:right;">
                  TAX AMOUNT (INR)
                </td>
                <td style="width:15%; text-align:right;">
                  TOTAL AMOUNT (INR)
                </td>
              </tr>
              <tr class="item">
                <td style="width:25%;">
                  Johnson's Baby Skincare Wipes 80s
                  Pack Of 2 Rs. 60 Off
                  HSN Code :4818
                  novajj079
                </td>
                <td style="width:10%; text-align:center;">
                  2
                </td>
                <td style="width:10%; text-align:right;">
                  322.03
                </td>
                <td style="width:15%; text-align:right;">
                  18% IGST
                </td>
                <td style="width:15%; text-align:right;">
                  57.97
                </td>
                <td style="width:15%; text-align:right;">
                  380
                </td>
              </tr>
              <tr class="item">
                <td style="width:25%;"> <b> Grand Total </b> </td>
                <td style="width:10%; text-align:center;">
                  2
                </td>
                <td style="width:10%; text-align:right;">
                  322.03
                </td>
                <td style="width:15%; text-align:right;">
                </td>
                <td style="width:15%; text-align:right;">
                  57.97
                </td>
                <td style="width:15%; text-align:right;">
                  380
                </td>
              </tr>
            </table>
            <tr class="total">
              <td colspan="3" align="right"> Total Amount in Words : <b> Three Hundred Eighty Rupees Only </b> </td>
            </tr>
            <tr>
              <td colspan="3">
                <table cellspacing="0px" cellpadding="2px">
                  <tr>
                    <td width="50%">
                      <b> Declaration: </b> <br>
                      We declare that this invoice shows the actual price of the goods
                      described above and that all particulars are true and correct. The
                      goods sold are intended for end user consumption and not for resale.
                    </td>
                    <td>
                      * This is a computer generated invoice and does not
                      require a physical signature
                    </td>
                  </tr>
                  <tr>
                    <td width="50%">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
        </table>
      </div>
    </form>
  </mat-dialog-content>
 